* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  padding: 0px 30%;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0px 20%;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 0px 10%;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0px 0px;
  }
}

body main {
  padding: 10px 0px;
}

body main header {
  width: 100%;
  min-height: 150px;
  height: 300px;
  position: relative;
  margin-bottom: 10px;
}

body main header img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  min-height: 150px;
  height: 300px;
}

body main header img.active {
  opacity: 1;
}

body main footer {
  display: flex;
  justify-content: space-between;
}

body main footer button {
  padding: 5px 20px;
  background-color: #018889;
  color: white;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

body main footer .number {
  display: flex;
}

body main footer .number button {
  padding: 5px 7px;
  background-color: #f7f7f6;
  color: black;
  margin-left: 1px;
}

body main footer button:hover,
body main footer .number button:hover {
  opacity: 0.8;
  transform: scale(1.02, 1.02);
}

body main footer .number button.active {
  background-color: #018889;
  color: white;
}

body main footer button.disable {
  background-color: #f7f7f6;
  color: black;
}

body main footer button.disable:hover {
  opacity: 1;
  transform: scale(1, 1);
}
